@font-face {
    font-family: myfont2;
    src: url(Figtree-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: myfont2;
    src: url(Figtree-Italic-VariableFont_wght.ttf);
    font-weight: 300;
}